body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #FFD700;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.carrinho-link {
    position: absolute;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.carrinho_icon {
    width: 25px;
    transition: transform 0.2s ease;
}

.carrinho_icon:hover {
    transform: scale(1.1);
}

.banner {
    background-color: #FFD700;
    padding: 20px;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 24px;
}

.banner h1 span {
    color: #000;
}

.shop-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meli-plus {
    background-color: #682aa5;
    color: white;
    padding: 10px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #FFF;
}

.menu-item {
    text-align: center;
}



.activation {
    background-color: #FFD700;
    padding: 20px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

.product img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    padding: 10px;
}

.footer-item {
    text-align: center;
}